:root {
  padding: 0;
  margin: 0;
}

#steps {
  height: 15em;
  background-image: url("./assets/steps.svg");
}

#sepbot {
  height: 15em;
  background-image: url("./assets/svg-separator.svg");
  transform: rotateX(180deg);
}
#septop {
  height: 15em;
  background-image: url("./assets/svg-separator.svg");
  transform: rotateX(180deg);
}

.Header {
  background-color:#202020;
  height: 10vh;
  padding: 0;
}

#separator {
  transform: rotateX(180deg);
}

.Footer {
  background-color: #572020;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 99vw;
}

#logotop {
  height: 175px;
  width: auto;
  z-index: 5;
  position: relative;
}

#logobottom {
  height: 175px;
  width: auto;
  z-index: 10;
  position: absolute;
  transform: rotateZ(180deg);
}

.logo {
  z-index: 500;
  position: absolute;
}

.Vice {
  background-color: #572020;
  height: 100vh;
  width: 99vw;
}

.Versa {
  background-color: #202020;
  height: 100vh;
  width: 99vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}