:root {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#steps {
  height: 15em;
  background-image: url("./assets/steps.svg");
}

#sepbot {
  height: 15em;
  background-image: url("./assets/svg-separator.svg");
  transform: rotateX(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
#septop {
  height: 15vw;
  background-image: url("./assets/svg-separator.svg");
  transform: rotateX(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  margin-top: -1px;
}

.Header {
  background-color:#202020;
  height: 13vh;
  padding: 0;
}

#separator {
  transform: rotateX(180deg);
}

.Footer {
  background-color: #572020;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 99vw;
}

#logotop {
  height: 175px;
  width: auto;
  z-index: 5;
  position: relative;
}

#logobottom {
  height: 175px;
  width: auto;
  z-index: 10;
  position: absolute;
  transform: rotateZ(180deg);
}

.logo {
  z-index: 500;
  position: absolute;
}

.Vice {
  background-color: #572020;
  height: 100vh;
  width: 99vw;
}

.Versa {
  background-color: #202020;
  height: 100vh;
  width: 99vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  #logotop {
    height: 200px;
    width: auto;
    z-index: 5;
    position: relative;
  }
  
  #logobottom {
    height: 200px;
    width: auto;
    z-index: 10;
    position: absolute;
    transform: rotateZ(180deg);
  }
}